body{
    font-family: "Roboto Serif";
    /*background-image: url("img/1000_F_175894294_3NjIJBkKiuNo6x5OPXGU6kxGxCIT6vDz.jpg");
    background-size: contain;
    background-repeat: no-repeat;*/
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

h1{
    font-size: 48px;
}

h2{
    font-size: 35px;
}
#betyg{
    width: 230px;
    height: auto;
}

#brownie{
    width: 100px;
    height: auto;
    grid-column: 2/3;
    grid-row: 1;
}