body{
    font-family: "Roboto Serif";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    display: grid;
    background-color: aquamarine;
}

h1{font-size: 48px;}
h2{font-size: 30px;}

#betyg{
    width: 230px;
    height: auto;
}

.fakta{
    background-color: white;
}
aside{
    grid-column: 3/4;
    flex-direction: row;
    display: flex;
}

#brownie{
    width: 250px;
    height: auto;
}

